[mysqld]
user=mysql
# init_connect='SET NAMES utf8mb4'
# character-set-server=utf8mb4
# collation-server=utf8mb4_unicode_ci

server-id=1
bind-address=0.0.0.0

datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
pid-file=/var/run/mysqld/mysqld.pid

log-bin=/var/lib/mysql/mysql-bin.log # MySQL binlog will start with mysql-bin-00000...
# binlog_format = ROW # ROW|MIXED|STATEMENT
expire_logs_days=7 # for mysql5 only, mysql8 use [binlog_expire_logs_seconds]

# max_connections=200
# default-storage-engine=INNODB
# default_time_zone = "+8:00"

# slow_query_log = 1 # 1=on, 0=off